<h1>Editing giftee</h1>

<%= render "form", giftee: @giftee %>

<br>

<div>
  <%= link_to "Show this giftee", @giftee, class: "gray" %> |
  <%= link_to "Back to giftees", giftees_path, class: "gray" %>
</div>
