<h1>Edit gift</h1>

<%= render partial: "form", locals: { gift: @gift } %>

<br>

<div>
  <%= link_to "Show this gift", @gift, class: "gray" %> |
  <%= link_to "Back to gifts", gifts_path, class: "gray" %>
</div>