<h1>Gifts</h1>

<%= link_to "Add gift", gifts_add_path %>

<% @gifts.each do |gift| %>
  <div>
    <p> 
      <span><%= gift.name %></span>
    for
      <span><%= gift.person.name %></span>
    </p>
  </div>  
<% end %>
