<h1>Gifts</h1>

<% if !@gifts.empty? %>
  <% @gifts.each do |gift| %>
    <div>
      <p>
        <span><%= link_to gift.name, gift_path(gift) %></span>
      for
        <span><%= link_to gift.giftee.name, giftee_path(gift.giftee.id), class: "giftees" %></span>
      </p>
    </div>  
  <% end %>
<% else %>
  <p>No gifts yet! Add a gift idea to get started.</p>
<% end %>

<br>

<div class="row">
  <%= link_to "Add gift", new_gift_path, class: "btn btn-outline-danger col-md-4" %>
  <%= link_to "Add giftee", new_giftee_path, class: "btn btn-outline-secondary col-md-4 offset-md-4"%>
</div>
