<h1>Gifts</h1>

<%= link_to "Add gift", new_gift_path %>

<% @gifts.each do |gift| %>
  <div>
    <p> 
      <span><%= gift.name %></span>
    for
      <span><%= gift.person.name %></span>
      <span><%= link_to "Edit", edit_gift_path(gift) %></span>
    </p>
    
  </div>  
<% end %>
