<h1>Purchased Gifts</h1>

<% if !@gifts.empty? %>
  <% @gifts.each do |gift| %>
    <div>
      <p>
        <span><%= link_to gift.name, gift_path(gift) %></span>
        for
        <span><%= link_to gift.giftee.name, giftee_path(gift.giftee.id), class: "dark" %></span>
      </p>
    </div>
  <% end %>
<% end %>

<br>

<div class="row">
  <%= link_to "Add gift", new_gift_path, class: "btn btn-danger col-md-4 btn-lg" %>
  <%= link_to "Add giftee", new_giftee_path, class: "btn btn-secondary col-md-4 offset-md-4 btn-lg"%>
</div>
