<h1>Purchased Gifts</h1>

<% if !@gifts.empty? %>
  <% @gifts.each do |gift| %>
    <div>
      <p>
        Gift: 
          <span><%= link_to gift.name, gift_path(gift) %></span>
        for
        <span><%= link_to gift.giftee.name, giftee_path(gift.giftee.id) %></span>
      </p>
    </div>
  <% end %>
<% end %>

