/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 @import "bootstrap";

.flex-sm-column {
  color: #dc3545;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

a {
  color: #dc3545;
  text-decoration: none;
}

a:hover {
  color: #dc3545;
  text-decoration: underline;
}

.edit {
  color: rgb(146, 145, 145);
}

.edit:hover {
  color: rgb(146, 145, 145);
  text-decoration: underline;
}

span.edit {
  margin: 1rem;
}

.nav {
  height: 100%;
  width: fit-content;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 1rem;
  display: inline-block;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: #dc3545;
}

.nav-pills .nav-link.active {
  color: #dc3545;
  border-radius: 0%;
  border-left: .2rem solid #dc3545;
  height: 2.5rem;
  background-color: white;
}