/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 @import "bootstrap";

h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h3 {
  text-decoration: underline;
}

a {
  color: #dc3545;
  text-decoration: none;
}

a:hover {
  color: #dc3545;
  text-decoration: underline;
}

.address {
  display: inline-block;
}

.app, .app:hover{
  color: #dc3545;
  font-size: 1.5rem;
  &:hover {
    text-decoration: none;
  }
}

.bold {
  font-weight: bold;
}

.btn {
  margin-bottom: 1rem;
}

.btn:hover {
  text-decoration: none;
}

.contact {
  display: inline-block;
  margin-right: 2rem;
  vertical-align: top;
  margin-bottom: 2rem;
}

.dark, .dark:hover {
  color: black;
}

.giftees, .giftees:hover {
  color: rgb(89, 68, 68);
}

.gray {
  color: rgb(146, 145, 145);
}

.gray:hover {
  color: rgb(146, 145, 145);
  text-decoration: underline;
}

span.gray {
  margin: 1rem;
}

.nav {
  background-color: #ff575761;
  padding-left: 3%;
}

.nav-item {
  padding-left: 3%;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: #dc3545;
  text-decoration: none;
}

.nav-link.active {
  color: #dc3545;
  text-decoration: underline;
}

td {
  padding-right: 7rem;
}