/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 @import "bootstrap";

h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h3 {
  text-decoration: underline;
}

a {
  color: #dc3545;
  text-decoration: none;
}

a:hover {
  color: #dc3545;
  text-decoration: underline;
}

.address {
  display: inline-block;
}

.app, .app:hover {
  border-radius: 15px;
  padding: .3rem;
  background-color: #fa273c;
  color: rgb(241, 232, 232);
  border: 2px solid black;
  font-size: 1.5rem;
  &:hover {
    text-decoration: none;
  }
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.btn-outline-danger {
  margin-bottom: 3rem;
}

.gift-box, .gift-box:hover {
  padding-top: 1rem;
  width: 6rem;
  height: 6rem;
  margin: 2rem -.5rem auto;
  border: 4px solid black;
  margin-bottom: 3rem;
}

.gift-box:hover {
  background-color: rgba(255, 0, 0, 0.417);
  color: black;
}

.btn:hover {
  text-decoration: none;
}

.contact {
  display: inline-block;
  margin-right: 2rem;
  vertical-align: top;
  margin-bottom: 2rem;
}

.dark, .dark:hover {
  color: black;
}

.giftees, .giftees:hover {
  color: rgb(90, 74, 74);
}

.gray-edit {
  color: rgb(105, 104, 104);
}

.gray {
  color: rgb(105, 104, 104);
  padding-bottom: 3rem;
}

.gray:hover {
  color: rgb(105, 104, 104);
  text-decoration: underline;
}

span.gray {
  margin: 1rem;
}

.nav {
  background-color: #ff575761;
  padding-left: 3%;
}

.nav-item {
  padding-left: 3%;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: #dc3545;
  text-decoration: none;
}

.nav-link.active {
  color: #dc3545;
  text-decoration: underline;
}

td {
  padding-right: 7rem;
}

// Gift Bow
.infinity {
  position: relative;
  width: 80px;
  height: 50px;
  box-sizing: content-box;
  margin-left: 25%;
}

.infinity:before,
.infinity:after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  border-radius: 10px 50px 0 20px;
  transform: rotate(-45deg);
}
.infinity:after {
  left: auto;
  right: 0;
  border-radius: 50px 10px 20px 0;
  transform: rotate(45deg);
}

table {
  width: 100%; 
  border-collapse: collapse; 
}

td, th { 
  padding: 6px; 
  text-align: left; 
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border-bottom: 3px solid #ff575761; }

  td {
    border: none;
    position: relative;
    padding-left: 50%;
    text-align: end;
    margin-bottom: .5rem;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 50%;
    white-space: nowrap;
  }

  td:nth-of-type(1):before { content: "Gift"; }
	td:nth-of-type(2):before { content: "Giftee"; }
	td:nth-of-type(3):before { content: "Price"; }
	td:nth-of-type(4):before { content: "Purchased"; }
}