<div class="nav flex-column nav-pills align-items-end" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <%= link_to "Gifts", gifts_path, class: "nav-link #{current_page?(gifts_path) ? 'active' : nil}", id: "Gifts", datatoggle: "pill", role: "tab", ariacontrols: "Gifts" %>
  <%= link_to "Giftees", giftees_path, class: "nav-link #{current_page?(giftees_path) ? 'active' : nil}", id: "Giftees", datatoggle: "pill", role: "tab", ariacontrols: "Giftees" %>
  <%= link_to "Purchased", "/purchased", class: "nav-link #{current_page?("/purchased") ? 'active' : nil}", id: "Purchased", datatoggle: "pill", role: "tab", ariacontrols: "Purchased" %>
</div>
